<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-md-4" *ngFor="let vechicl of vechicles">
      <div class="card border-success mb-3">
        <div class="card-header">{{vechicl.name}}</div>
        <div class="card-body text-success">
          <h5 class="card-title">Model: {{vechicl.model}} <br> Passengers: {{vechicl.passengers}}</h5>
          <hr>
          <p class="card-text">Length: {{vechicl.length}}</p>
          <p class="card-text">Cargo capacity: {{vechicl.cargo_capacity}}</p>
          <p class="card-text">Cost: {{vechicl.cost_in_credits}}</p>
          <p class="card-text">Max speed: {{vechicl.max_atmosphering_speed}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p>vehicles works!</p>
