<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-md-4" *ngFor="let spec of species">
      <div class="card border-success mb-3">
        <div class="card-header">{{spec.name}}</div>
        <div class="card-body text-success">
          <h5 class="card-title">Height: {{spec.average_height}} <br> Mass: {{spec.average_lifespan}}</h5>
          <hr>
          <p class="card-text">Eye color: {{spec.eye_colors}}</p>
          <p class="card-text">Hair color: {{spec.hair_colors}}</p>
          <p class="card-text">Skin color: {{spec.skin_colors}}</p>
          <p class="card-text">Language: {{spec.language}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
